<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @peticion.id %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @peticion.tipo %>
</p>

<p>
  <strong>Fecha Desde:</strong>
  <%= @peticion.fechadesde %>
</p>

<p>
  <strong>Fecha Hasta:</strong>
  <%= @peticion.fechahasta %>
</p>

<p>
  <strong>Status:</strong>
  <%= @peticion.status %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @peticion.email %>
</p>

<p>
  <strong>Prioridad:</strong>
  <%= @peticion.prioridad %>
</p>

<%= link_to 'Edit', edit_peticion_path(@peticion) %> |
<%= link_to 'Back', peticions_path %>
